@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

body {
	font-family: Open Sans;
}

h1 {
	text-align: center;
}

/* Buttons Container Styles */

.buttons-container {
	--success: #31a831;
	--success-light: #e4f5e4;
	--warn: #f7c53b;
	--warn-light: #fcf7eb;
	--error: #d94343;
	--error-light: #ffe8e8;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-row button {
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	border-radius: 5%;
	font-size: 15px;
	padding: 10px;
	transition: background 250ms, filter 250ms;
}

.button-row:hover button {
	cursor: pointer;
}

.button-row {
	margin-bottom: 10px;
}

.success {
	background: var(--success);
}

.warn {
	background: var(--warn);
}

.error {
	background: var(--error);
}

.plain-btn {
	color: white;
	border: none;
}

.plain-btn:active {
	filter: brightness(90%);
}

.raised-btn {
	color: black;
	border: none;
	box-shadow: 0px 1.5px 2px #a3a3a3;
}

.raised-btn:active {
	filter: brightness(90%);
}

.empty-btn {
	background: none;
	color: var(--main);
	border: 1px solid var(--main);
}

.empty-btn:hover {
	background: var(--light);
}

.empty-btn:active {
	background: var(--main);
	color: white;
}

/* Listbox Styles */

#listbox {
	--main: #e6e6e6;
	--text: #363636;
	--selected: #d2e7fc;

	display: flex;
	flex-direction: column;
	border: 1px solid var(--main);
	color: var(--text);
	width: 200px;
	padding: 10px 0;
	border-radius: 2%;
}

#listbox span {
	display: flex;
	padding: 5px 10px;

}

#listbox span:hover {
	background: var(--main);
	cursor: pointer;
}

#listbox span:active {
	background: var(--selected);
}