@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

body {
	font-family: Open Sans;
}

h1 {
	text-align: center;
}

/* Buttons Container Styles */

#buttons-container {
	--success: #31a831;
	--success-light: #e4f5e4;
	--warn: #f7c53b;
	--warn-light: #fcf7eb;
	--error: #d94343;
	--error-light: #ffe8e8;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-row button {
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	border-radius: 5%;
	font-size: 15px;
	padding: 10px;
	transition: background 250ms, filter 250ms;
}

.button-row:hover button {
	cursor: pointer;
}

.button-row {
	margin-bottom: 10px;
}

.success {
	background: var(--success);
}

.warn {
	background: var(--warn);
}

.error {
	background: var(--error);
}

.plain-btn {
	color: white;
	border: none;
}

.plain-btn:active {
	filter: brightness(90%);
}

.raised-btn {
	color: black;
	border: none;
	box-shadow: 0px 1.5px 2px #a3a3a3;
}

.raised-btn:active {
	filter: brightness(90%);
}

.empty-btn {
	background: none;
	color: var(--main);
	border: 1px solid var(--main);
}

.empty-btn:hover {
	background: var(--light);
}

.empty-btn:active {
	background: var(--main);
	color: white;
}

/* Listbox Styles */

#listbox-container {
	--main: #e6e6e6;
	--text: #363636;
	--selected: #d2e7fc;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#listbox {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--main);
	color: var(--text);
	width: 200px;
	padding: 10px 0;
	border-radius: 2%;
}

#listbox span {
	display: flex;
	padding: 5px 10px;
}

#listbox span:hover {
	background: var(--main);
	cursor: pointer;
}

#listbox span:active {
	background: var(--selected);
}

/* Virtual Scroller Styles */

#vs-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	--main: #d6d6d6;
	--main-text: #4a4a4a;
	--header: #f8f9fa;
	--in-stock: #c8e6c9;
	--in-stock-text: #256029;
}

.vs-content {
	width: 80%;
	max-width: 800px;
	border: 1px solid var(--main);
	border-radius: 3px;
	color: var(--main-text);
	font-weight: 600;
}

.vs-header {
	padding: 10px;
	font-size: 20px;
	border-bottom: 1px solid var(--main);
	background: var(--header);
}

.products {
	background: white;
}

.product {
	display: flex;
	justify-content: space-between;
	height: 70px;
	padding: 10px;
}

.product-img {
	object-fit: contain;

	/* required because of stretching on safari */
	max-width: 120px;
	height: 100%;

	margin-right: 10px;
	box-shadow: 0px 2px 5px 0.5px #a3a3a3;
}

.product-left {
	display: flex;
}

.product-category {
	font-size: 15px;
	font-weight: 400;
}

.product-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product-text h4 {
	margin: 0;
	margin-bottom: 5px;
}

.price {
	text-align: right;
	font-size: 15px;
}

.availability {
	text-transform: uppercase;
	font-size: 13px;
	padding: 5px;
	border-radius: 1.5px;
}

.in-stock {
	background: var(--in-stock);
	color: var(--in-stock-text);
}

/* Fieldset Scrollpanel Styles */

#fs-sp-container {
	--main: #d6d6d6;
	--main-text: #4a4a4a;
	--header: #f8f9fa;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.fs {
	color: var(--main-text);
	width: 80%;
	max-width: 1200px;
	flex: column;
}

.fs-header {
	display: flex;
}

.fs-header h3 {
	background: var(--header);
	padding: 13px;
	border: 1px solid var(--main);
	border-radius: 3px;
	margin: 0;
	position: absolute;
	font-size: 15px;
	font-weight: 600;
	transform: translateX(25px) translateY(-28px);
}

.fs-content {
	padding: 35px 25px 25px 25px;
	border: 1px solid var(--main);
	border-radius: 2px;
	font-weight: 400;
}

.sp {
	display: flex;
}

.sp-section {
	height: 200px;
	overflow-y: auto;
	margin-right: 25px;
	padding-right: 10px;
}

#styled-scrollbar::-webkit-scrollbar-track {
	background-color: white;
}

#styled-scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#styled-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #2196F3;
}

#no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* TODO: consider making a container class */
/* TODO: add space between titles & content */